<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Login.Officelocation"/>
      <class name="Login.Message"/>
      <class name="Login.punchout"/>
      <class name="Login.checkInOut"/>
      <class name="Login.Logout"/>
      <class name="Login.Punchin"/>
      <class name="Login.launch"/>
      <class name="Login.Myteam"/>
      <class name="Login.Pinlocation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
